body {
	font-family : Helvetica Narrow, sans-serif;
	background:url(images/fond.jpg);
	background-repeat:no-repeat;
	background-attachment:fixed;
	background-position:center center;
	margin : 0; 
	width : 98%;
	height : 100%;
}

#colone{
	background-image:url(images/Texture.jpg);
	position:fixed;
	width : 208px;
	height:100%;
	color: white;
	z-index:8;
}
#choix {
	margin-top:20%;
	font-size:8px;
}

#logo{
	margin-left:-10%;
}



#overlay {
	display:none;
	position:fixed;
	top:0; right:0; bottom:0; left:0;
	z-index:1000;
}

#overlay:target{
	display:block;
}


.connexion {
	background-color : black;
	color:white;
	padding: 20px;
	border : 6px solid blue;
	position:relative;
	margin:10% auto;
	width: 40%;
	box-shadow: 0px 0px 20px #000;
	border-radius:10px;
}


a:hover {
	text-decoration : none;
	color: white;
}
a:link {
	text-decoration : none;
	color: white;
}
a:active {
	text-decoration : none;
	color: white;
}
a:focus{
	color:white;
}
a:visited {
	color:white;
}
#partie{
	display:inline-block;
	border: 10px solid blue;
	margin-right:70px;
	height : 300px;
	width:300px;
	color:white;
	border-radius : 50%;
	background-color:black;
	box-shadow :-5px 10px 10px #888;
}
.pos{
margin-top:125px;
}

#panneau{
	position:fixed;
	max-height:100%;
}

.pic iframe {
	width : 100.4%;
	height:700px;
	margin-top:151px; 
}

#epreuve {
	margin-bottom:50px;
}

#connect {
	display:fixed;
	margin-top:40%;
}
#connect:target {
	display:fixed;
	margin-top:40%;
	display:none;
}



